<main>
	
     
<!-- Section: Design Block -->
<section class="text-center">
 
  
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: 20px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h1 class="fw-bold mb-5" >Announcement Details</h1>
            <h4 class="fw-bold mb-5" >Post your announcement</h4>
            <form>

               


                <!-- Name input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" class="form-control" />
                    <label class="form-label" for="form3Example3">Select Category</label>
                </div>

                <!-- Name input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" class="form-control" />
                    <label class="form-label" for="form3Example3">Select Topic</label>
                </div>

                <!-- Name input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" class="form-control" />
                    <label class="form-label" for="form3Example3">Contact No</label>
                </div>

                <!-- Name input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" class="form-control" />
                    <label class="form-label" for="form3Example3">Details</label>
                </div>




                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                    Make Announcement
                </button>



            </form>
        </div>
      </div>
    </div>
  </div>


</section>
<!-- Section: Design Block -->
</main>

