
<main>

	   
<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
        background-image: url('https://user-images.githubusercontent.com/63257806/243441663-80730571-b83c-4544-9ee1-05f9697bb489.jpg');
        height: 300px;
        "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -20px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h1 class="fw-bold mb-5" >Registration</h1>
            <h4 class="fw-bold mb-5" >Register with your institutional email</h4>

            <form action="/AuthenticationController/Registration" method="post">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-outline">
                            <input type="text" id="form3Example1" class="form-control" style="margin-top:1rem;" />
                            <label class="form-label" for="form3Example1">First name</label>
                        </div>

                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <input type="text" id="form3Example2" class="form-control" />
                            <label class="form-label" for="form3Example2">Last name</label>
                        </div>
                    </div>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="form3Example3" class="form-control" />
                    <label class="form-label" for="form3Example3">Email address</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" id="form3Example4" class="form-control" />
                    <label class="form-label" for="form3Example4">Password</label>
                </div>

                <!-- Confirm Password input -->
                <div class="form-outline mb-4">
                    <input type="password" id="form3Example4" class="form-control" />
                    <label class="form-label" for="form3Example4">Confirm Password</label>
                </div>



                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                    Sign up
                </button>
                <p class="mb-5">Already have an account?  <a class="fw-bold " style="color:#16A34A ;" href="@Url.Action("Login", "Authentication")">Login </a> </p>
                

            </form>
        </div>
      </div>
    </div>
  </div>


</section>
<!-- Section: Design Block -->


</main>