@{ ViewBag.Title = "About"; } <main aria-labelledby="title"> @* <h2 id="title">@ViewBag.Title.</h2> *@ @* <h3>@ViewBag.Message</h3> *@ 
    
    
    <section>
    <div class="container" >
      <div class="row justify-content-center">
        <div class="col-md-4 d-flex">
          <div class="profile-card-2 flex-fill">
            <img style="width: 100%; height: 400px;" src="https://scontent.fdac152-1.fna.fbcdn.net/v/t39.30808-6/307170390_2110866525786941_2659481147970629100_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=174925&_nc_eui2=AeGByjK3MOHfqUzzUQ251qb_nNgQYuCTf0Wc2BBi4JN_RSV-kMdZYi_TT-YoQiApIjKu3ep4UqD_k2-wG6Jv3-pw&_nc_ohc=YPjBIHq1wt4AX9HGLEH&_nc_ht=scontent.fdac152-1.fna&oh=00_AfCGgpK589dnnOfVeuC_vDRWUU1hS-e08DOskeiSNjuvwQ&oe=64C6D909" class="img img-responsive">
            <div class="profile-name">Parvez Ahammed</div>
            <div class="profile-username">piru</div>
            <div class="profile-icons">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="profile-card-2">
            <img style="width: 100%; height: 400px;" src="https://scontent.fdac152-1.fna.fbcdn.net/v/t39.30808-6/309654563_3390067111234057_5371457207373406033_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGa78kUrWswlb13L-uCo4nwpxPIQ7Yzjb6nE8hDtjONvkRsNjDBiVGPMRT0ZK_nmsPxxAZqk9_mcTRAFnZC9-lx&_nc_ohc=CCULdMpVdSQAX-zntss&_nc_ht=scontent.fdac152-1.fna&oh=00_AfDdQFAMT6Yx3Tv9inJ9sOSH-ephamBOzWba07QzBT7Urw&oe=64C6ECF7" class="img img-responsive">
            <div class="profile-name">Tabassum Tara</div>
            <div class="profile-username">Tara</div>
            <div class="profile-icons">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="profile-card-2">
            <img style="width: 100%; height: 400px;" src="https://scontent.fdac152-1.fna.fbcdn.net/v/t39.30808-6/351004693_1383927412394389_6210836813884822315_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=174925&_nc_eui2=AeHFz8s-snKIZ4aGoUdX4hPJZqP01JOBtUxmo_TUk4G1TIE4HYtMRjweR8ML73XHS9IzWPR77v04hCz9zhddv7wK&_nc_ohc=fx1yYHVymfYAX855KA2&_nc_ht=scontent.fdac152-1.fna&oh=00_AfD-_OC4Vrdf68FREUSrHLCwHaZcr4njLsAcHuHRq8VLQg&oe=64C62F4E" class="img img-responsive">
            <div class="profile-name">Sabbir Ahammed</div>
            <div class="profile-username">Sabbir</div>
            <div class="profile-icons">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

    <section>
        <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">AUST BUDDY</h1>
    <div class="col-lg-12 mx-auto">
      <p class="lead mb-8"> Your best buddy in AUST</p>
      <div class="d-grid gap-1 d-sm-flex justify-content-sm-center">
    
          <a href="https://github.com/piru72/AUST-BUDDY-WEB/tree/master" class="btn btn-primary btn-lg px-4 gap-3">Github</a>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Devs</button>
      </div>
    </div>
  </div>
    </section>


    <section>
        <section>
    <div class="container" >
      <div class="row justify-content-center">
       
       
          <div class="card text-center" style="width: 18rem; margin:1rem">
        <div class="card-body">
            <h5 class="card-title">Help</h5>
            <p class="card-text">1 bag O+ urgent blood needed</p>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
    </div>
               <div class="card text-center" style="width: 18rem; margin:1rem">
        <div class="card-body">
            <h5 class="card-title">Help</h5>
            <p class="card-text">1 bag O+ urgent blood needed</p>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
    </div>
                <div class="card text-center" style="width: 18rem; margin:1rem">
        <div class="card-body">
            <h5 class="card-title">Help</h5>
            <p class="card-text">1 bag O+ urgent blood needed</p>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
    </div>
               <div class="card text-center" style="width: 18rem; margin:1rem">
        <div class="card-body">
            <h5 class="card-title">Help</h5>
            <p class="card-text">1 bag O+ urgent blood needed</p>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
    </div>
               <div class="card text-center" style="width: 18rem; margin:1rem">
        <div class="card-body">
            <h5 class="card-title">Help</h5>
            <p class="card-text">1 bag O+ urgent blood needed</p>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
    </div>
                <div class="card text-center" style="width: 18rem; margin:1rem">
        <div class="card-body">
            <h5 class="card-title">Help</h5>
            <p class="card-text">1 bag O+ urgent blood needed</p>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
    </div>

      </div>
    </div>
  </section>


    </section>



       <section>
        <section>
    <div class="container" >
      <div class="row justify-content-center">
       
       <div class="card course-card" style="width: 18rem;">
  <img class ="course-icon" src="https://raw.githubusercontent.com/piru72/AUST-BUDDY-WEB/master/Images/Lovepik_com-401497512-book-icon-free-vector-illustration-material.png?token=GHSAT0AAAAAACCTNOV4447EU2AYHMMQAO6CZGC47DQ" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Software Development V</h5>
    <p class="card-text">CSE 3200</p>
    <a href="#" class="btn btn-primary">Explore</a>
  </div>
</div>

              <div class="card course-card" style="width: 18rem;">
  <img class ="course-icon" src="https://raw.githubusercontent.com/piru72/AUST-BUDDY-WEB/master/Images/Lovepik_com-401497512-book-icon-free-vector-illustration-material.png?token=GHSAT0AAAAAACCTNOV4447EU2AYHMMQAO6CZGC47DQ" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Software Development V</h5>
    <p class="card-text">CSE 3200</p>
    <a href="#" class="btn btn-primary">Explore</a>
  </div>
</div>
                    <div class="card course-card" style="width: 18rem;">
  <img class ="course-icon" src="https://raw.githubusercontent.com/piru72/AUST-BUDDY-WEB/master/Images/Lovepik_com-401497512-book-icon-free-vector-illustration-material.png?token=GHSAT0AAAAAACCTNOV4447EU2AYHMMQAO6CZGC47DQ" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Software Development V</h5>
    <p class="card-text">CSE 3200</p>
    <a href="#" class="btn btn-primary">Explore</a>
  </div>
</div>
             
     

      </div>
    </div>
  </section>


    </section>

</main>