@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
   @* <h2 id="title">@ViewBag.Title.</h2> *@
   @* <h3>@ViewBag.Message</h3> *@

   

  <div class="row">
  <div class="col-sm-4">

    <div class="card" style="width: 18rem;">
      <div class="card-body" >
        <img class="card-img-top" style="height: 22rem;" src="https://scontent.fdac152-1.fna.fbcdn.net/v/t39.30808-6/307170390_2110866525786941_2659481147970629100_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=174925&_nc_eui2=AeGByjK3MOHfqUzzUQ251qb_nNgQYuCTf0Wc2BBi4JN_RSV-kMdZYi_TT-YoQiApIjKu3ep4UqD_k2-wG6Jv3-pw&_nc_ohc=YPjBIHq1wt4AX9HGLEH&_nc_ht=scontent.fdac152-1.fna&oh=00_AfCGgpK589dnnOfVeuC_vDRWUU1hS-e08DOskeiSNjuvwQ&oe=64C6D909" alt="Card image cap">
        <h5 class="card-title">Parvez Ahammed</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </div>
  <div class="col-sm-4">

    <div class="card" style="width: 18rem;">
      <div class="card-body" >
        <img class="card-img-top"  style="height: 22rem;" src="https://scontent.fdac152-1.fna.fbcdn.net/v/t39.30808-6/309654563_3390067111234057_5371457207373406033_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGa78kUrWswlb13L-uCo4nwpxPIQ7Yzjb6nE8hDtjONvkRsNjDBiVGPMRT0ZK_nmsPxxAZqk9_mcTRAFnZC9-lx&_nc_ohc=CCULdMpVdSQAX-zntss&_nc_ht=scontent.fdac152-1.fna&oh=00_AfDdQFAMT6Yx3Tv9inJ9sOSH-ephamBOzWba07QzBT7Urw&oe=64C6ECF7" alt="Card image cap">
        <h5 class="card-title">Tabassum Tara Lamia</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </div>

         <div class="col-sm-4">

    <div class="card" style="width: 18rem;">
      <div class="card-body" >
        <img class="card-img-top"  style="height: 22rem;" src="https://scontent.fdac152-1.fna.fbcdn.net/v/t39.30808-6/351004693_1383927412394389_6210836813884822315_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=174925&_nc_eui2=AeHFz8s-snKIZ4aGoUdX4hPJZqP01JOBtUxmo_TUk4G1TIE4HYtMRjweR8ML73XHS9IzWPR77v04hCz9zhddv7wK&_nc_ohc=fx1yYHVymfYAX855KA2&_nc_ht=scontent.fdac152-1.fna&oh=00_AfD-_OC4Vrdf68FREUSrHLCwHaZcr4njLsAcHuHRq8VLQg&oe=64C62F4E" alt="Card image cap">
        <h5 class="card-title">Sabbir Ahammed Salman</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </div>


</div>
</main>