

<a href="@Url.Action("AddCourse", "Home")" class="btn btn-primary btn-lg btn-block">Add Course</a>

<a href="@Url.Action("AddTeacher", "Home")" class="btn btn-primary btn-lg btn-block">Add Teacher</a>
