<main>
	<a href="@Url.Action("AddCourse", "Home")" class="btn btn-primary btn-lg btn-block">Add Course</a>
       <section>
        <section>
    <div class="container" >
      <div class="row justify-content-center">
       
       <div class="card course-card" style="width: 18rem;">
  <img class ="course-icon card-img-top" src="https://raw.githubusercontent.com/piru72/AUST-BUDDY-WEB/master/Images/Lovepik_com-401497512-book-icon-free-vector-illustration-material.png?token=GHSAT0AAAAAACCTNOV5UFL7NSAZJUCMDUUQZGFC2OA"  alt="...">
  <div class="card-body">
    <h5 class="card-title">Software Development V</h5>
    <p class="card-text">CSE 3200</p>
    <a href="#" class="btn btn-primary">Explore</a>
  </div>
</div>

              <div class="card course-card" style="width: 18rem;">
  <img class ="course-icon" src="https://raw.githubusercontent.com/piru72/AUST-BUDDY-WEB/master/Images/Lovepik_com-401497512-book-icon-free-vector-illustration-material.png?token=GHSAT0AAAAAACCTNOV5UFL7NSAZJUCMDUUQZGFC2OA"  alt="...">
  <div class="card-body">
    <h5 class="card-title">Software Development V</h5>
    <p class="card-text">CSE 3200</p>
    <a href="#" class="btn btn-primary">Explore</a>
  </div>
</div>
                    <div class="card course-card" style="width: 18rem;">
  <img class ="course-icon" src="https://raw.githubusercontent.com/piru72/AUST-BUDDY-WEB/master/Images/Lovepik_com-401497512-book-icon-free-vector-illustration-material.png?token=GHSAT0AAAAAACCTNOV5UFL7NSAZJUCMDUUQZGFC2OA"  alt="...">
  <div class="card-body">
    <h5 class="card-title">Software Development V</h5>
    <p class="card-text">CSE 3200</p>
    <a href="#" class="btn btn-primary">Explore</a>
  </div>
</div>
             
     

      </div>
    </div>
  </section>


    </section>
</main>
