@{
    ViewBag.Title = "Home Page";
 
}


<main>
      
<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
        background-image: url('https://user-images.githubusercontent.com/63257806/243441663-80730571-b83c-4544-9ee1-05f9697bb489.jpg');
        height: 300px;
        "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -20px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h1 class="fw-bold mb-5" >Login</h1>
            <h4 class="fw-bold mb-5" >Login with your institutional email</h4>
          <form>
            

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control" />
              <label class="form-label" for="form3Example3">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form3Example4" class="form-control" />
              <label class="form-label" for="form3Example4">Password</label>
            </div>


               <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="form2Example31"/>
                  <label class="form-check-label" for="form2Example31"> Remember me </label>
                </div>
              </div>

              <div class="col">
                <!-- Simple link -->
                <a href="#!" style ="color:#16A34A" >Forgot password?</a>
              </div>
            </div>

           

      

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">
              Login
            </button>
             <p class="mb-5" >Don't have an account?  <a class="fw-bold " style ="color:#16A34A ;" href="#" >Register </a> </p>

           
          </form>
        </div>
          <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                 <a class="fw-bold " style ="color:#16A34A ;" href="#" >Privacy Policy </a> 
              </div>

              <div class="col">
                <!-- Simple link -->
                 <a class="fw-bold " style ="color:#16A34A ;" href="#" >About us </a> 
              </div>
            </div>
           
      </div>
    </div>
  </div>


</section>
<!-- Section: Design Block -->





</main>