@{
    ViewBag.Title = "Home Page";
 
}


<div class="container my-5">
  <div class="row">
    <div class="col-lg-6">
      <img class="w-100 " src="/Image/hero_img.png" />
    </div>
    <div class="col-lg-6">
      <div class="p-5 mt-4">
          <h1 class="display-4"> Find your notes</h1>
          <p class="lead">Finding notes and exam questions can be pretty hectic sometimes. no more worries about those , find your notes organized and top the exam. </p>
          <a href="#" class="btn btn-outline-dark">Read More</a>
        </div>
    </div>
</div>

<div class="container my-5">
  <div class="row">
   
    <div class="col-lg-6">
      <div class="p-5 mt-4">
          <h1 class="display-4"> Find tutorials</h1>
          <p class="lead">Finding the right tutorials can be pretty tough sometimes.Check out the tutorials suggested by your seniors</p>
          <a href="#" class="btn btn-outline-dark">Read More</a>
        </div>
    </div>
     <div class="col-lg-6">
      <img class="w-100 " src="~/Image/hero_2.png" />
    </div>
</div>