
<div class="container footer fixed-bottom" style="background-color:white;">
  <footer class="py-1 my-2">

      <ul class="nav justify-content-center ">
        <li><a href="https://github.com/piru72/AUST_BUDDY_WEB" target="_blank" class="nav-item nav-link text-muted">2023 - AUST BUDDY</a></li>
        <li>@Html.ActionLink("About Us", "index", "about", new { area = "" }, new { @class = "nav-item nav-link  text-muted" })</li>
        <li>@Html.ActionLink("FAQ", "index", "faq", new { area = "" }, new { @class = "nav-item nav-link  text-muted" })</li>
    </ul>
   
  </footer>

</div>

<style>
   
    .footer {
        width: 100% !important;
        max-width: 100% !important;
        left: 0 !important;
    }

        /* Adjust the font size and line height for the footer */
    .nav-item.nav-link {
        font-size: 20px;
        line-height: 1;
    }

    /* Override any padding within the footer */
    .footer footer {
        padding: 0 !important;
    }
</style>