@{ ViewBag.Title = "About"; } 
<main aria-labelledby="title"> 
    @* <h2 id="title">@ViewBag.Title.</h2> *@
    @* <h3>@ViewBag.Message</h3> *@ 
    

    <section>
    <h1 class="display-3">Backend Developers</h1>
        <hr>

    <div class="container" >
      <div class="row justify-content-left">
        <div class="col-md-4 d-flex">
          <div class="profile-card-2 flex-fill">
            <img style="width: 100%; height: 400px;" src="~/Image//parvez.jpg" class="img img-responsive">
            <div class="profile-name">Parvez Ahammed</div>
            <div class="profile-username">piru</div>
            <div class="profile-icons">
              <a href="https://www.facebook.com/piru72" target="_blank">
                <i class="fa fa-facebook" ></i>
              </a>
              <a href="https://github.com/piru72" target="_blank">
                <i class="fa fa-github"></i>
              </a>
            
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="profile-card-2">
            <img style="width: 100%; height: 400px;" src="~/Image//tara.jpg" class="img img-responsive">
            <div class="profile-name">Tabassum Tara</div>
            <div class="profile-username">Tara</div>
            <div class="profile-icons">
              <a href="https://www.facebook.com/tabassum.taralamya " target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
         
            </div>
          </div>
        </div>
       

      </div>
    </div>
  </section>

    <section>
    <h1 class="display-3">Frontend Developers</h1>
    <hr>

    <div class="container" >
      <div class="row justify-content-left">
        <div class="col-md-4 d-flex">
          <div class="profile-card-2 flex-fill">
            <img style="width: 100%; height: 400px;" src="~/Image//miraz.jpg" class="img img-responsive">
            <div class="profile-name">Mirazur Zim</div>
            <div class="profile-username">zim</div>
            <div class="profile-icons">
              <a href="https://www.facebook.com/Swagetor " target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
       
            </div>
          </div>
        </div>
        
        

      </div>
    </div>
  </section>

    <section>
    <h1 class="display-3">UI Designers</h1>
        <hr>

    <div class="container" >
      <div class="row justify-content-left">
       
       
        <div class="col-md-4">
          <div class="profile-card-2">
            <img style="width: 100%; height: 400px;" src="~/Image/salman.jpg" class="img img-responsive">
            <div class="profile-name">Sabbir Ahammed</div>
            <div class="profile-username">Salman</div>
            <div class="profile-icons">
              <a href="https://www.facebook.com/Um.Salman.24" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
       
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

    <section>
    <h1 class="display-3">Contributors</h1>
        <hr>
        <h1 class="display-6">Want to contribute ? Just make a Pull Request below!</h1>
  </section>

    <section>
        <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">AUST BUDDY</h1>
    <div class="col-lg-12 mx-auto">
      <p class="lead mb-8"> Your best buddy in AUST</p>
      <div class="d-grid gap-1 d-sm-flex justify-content-sm-center">
    
          <a href="https://github.com/piru72/AUST-BUDDY-WEB/tree/master" class="btn btn-primary btn-lg px-4 gap-3">Github</a>
          
      </div>
    </div>
  </div>
 </section>





</main>