
<Main>
	    
   <section class="text-center">  
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: 20px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h1 class="fw-bold mb-5" >Request for new material</h1>
            <h4 class="fw-bold mb-5" >Contribute to the community</h4>
          <form>


               <!-- Name input -->
            <div class="form-outline mb-4">
              <input type="text" id="form3Example3" class="form-control" />
              <label class="form-label" for="form3Example3">Department</label>
            </div>

               <!-- Name input -->
            <div class="form-outline mb-4">
              <input type="text" id="form3Example3" class="form-control" />
              <label class="form-label" for="form3Example3">Semester</label>
            </div>

               <!-- Name input -->
            <div class="form-outline mb-4">
              <input type="text" id="form3Example3" class="form-control" />
              <label class="form-label" for="form3Example3">Course Code</label>
            </div>

                 <!-- Name input -->
            <div class="form-outline mb-4">
              <input type="text" id="form3Example3" class="form-control" />
              <label class="form-label" for="form3Example3">Course Name</label>
            </div>

                   <!-- Name input -->
            <div class="form-outline mb-4">
              <input type="text" id="form3Example3" class="form-control" />
              <label class="form-label" for="form3Example3">Drive Link</label>
            </div>



            
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">
              Make Request
            </button>
            

           
          </form>
        </div>
      </div>
    </div>
  </div>


</section>
<!-- Section: Design Block -->
</Main>